{% extends 'base.html.twig' %}

{% block title %}Sounds - Homepage{% endblock %}

{% block body %}

<div class="row px-0 gx-0 w-100 vh-100 overflow-hidden">
  <div class="col">
    <video id="MainPageVideo" class="background-media" autoplay muted loop>
      <source src="{{ asset('videos/MainPageVideo.mp4') }}" type="video/mp4">
    </video>
  </div>
</div>

{# Displays the section if there are future concerts #}
{% if concertList is not empty %}
<div class="row w-100 py-5 mx-auto">
  <div class="col-10 col-lg-7 bg-greyblack shadow card-concert mx-auto">
    <div class="row">
    <h2 class="text-center pt-5 letter-spacing">CHECK OUT OUR CONCERTS</h2>
      {% for concert in concertList %}
        {# Displays the concert if it hasn't ended #}
        {% if currentDate <= concert.getDateEnd()|date('d-m-Y') %}
        <div class="col col-sm-6 px-4">
          <div class="col-12 col-lg-10 mx-auto my-4 my-lg-5 border border-secondary square overflow-hidden">
            <a class="w-100 h-100 text-light d-flex justify-content-center align-items-center" href="{{ path('concert_show', { 'id': concert.id }) }}">
              {% if concert.logo != NULL %}
              <img src="{{ asset('img/') }}{{ concert.logo }}" class="h-100" alt="Logo {{ concert.name }}">
              {# Shows a placeholder image if the concert doesn't have one #}
              {% else %}
              <img src="{{ asset('img/placeholder.png') }}" class="h-100" alt="Logo {{ concert.name }}">
              {% endif %}
              <h3 class="position-absolute">{{ concert.name }}</h3>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<script src="{{ asset('js/Square.js') }}"></script>
<script> document.getElementById('MainPageVideo').playbackRate = 0.75; </script>
{% endblock %}