{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}
    <div class="row w-75 py-5 mx-auto mt-nav">
        <div class="col-5 px-4 d-flex justify-content-center">
        {% if concert.logo != NULL %}
            <img class="img-fluid mx-auto shadow" src="{{ asset('img/') }}{{ concert.logo }}" alt="Logo {{ concert.name }}">
        {% else %}
                <img class="img-fluid shadow" src="{{ asset('img/placeholder.png') }}" alt="Logo {{ concert.name }}">
        {% endif %}
        </div>
        <div class="col-7 py-3">
            <h2 class="fw-bolder">{{ concert.name }}</h2>
            <h5 class="pt-3">Informations :</h5>
            <ul>
                <li><strong>Organiser :</strong> {{ concert.getOrganiser.getFirstName }} {{ concert.getOrganiser.getLastName }}</li>
                <li><strong>Date :</strong> {{ concert.getDateStart|date('d-m-Y') }}
                    {% if concert.getDateEnd != concert.getDateStart %}
                        to {{ concert.getDateEnd|date('d-m-Y') }}
                    {% endif %}
                </li>
                <li><strong>Hall :</strong> {{concert.getHall.getName}}</li>
                <li><strong>Adress :</strong> {{concert.getHall.getAddress}}, {{concert.getHall.getCity}}, {{concert.getHall.getCountry|upper }}</li>
                <li><strong>Hall Capacity :</strong> {{concert.getHall.getAvailableTickets}}</li>
            </ul>
            {% if is_granted('ROLE_USER') %}
            <button class="btn bg-burple shadow">
                <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Follow
            </button>
            {% else %}
            <button class="btn bg-burple shadow">
                <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Follow
            </button>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-danger shadow" href="{{ path('concert_delete', { 'id': concert.id }) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>
                Remove
            </a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success shadow" href="{{ path('concert_update', { 'id': concert.id }) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                Edit
            </a>
            {% endif %}
        </div>
    </div>

    

    <div class="row w-100 py-5 mx-auto">
      <div class="col-10 bg-greyblack shadow mx-auto">
        <div class="row">

        <h2 class="pt-5 text-center letter-spacing">BANDS</h2>
        
            {% for band in concert.bands %}
            <div class="col col-sm-6 col-lg-4 px-4">
              <div class="col-12 col-lg-10 mx-auto my-4 my-lg-5 border border-secondary square overflow-hidden">
                <a class="w-100 h-100 text-light d-flex justify-content-center align-items-center" href="{{ path('band_show', { 'id': band.id }) }}">
                {% if band.logo != NULL %}
                <img src="{{ asset('img/') }}{{ band.logo }}" class="h-100" alt="Logo {{ band.name }}">
                {# Shows a placeholder image if the band doesn't have one #}
                {% else %}
                <img src="{{ asset('img/placeholder.png') }}" class="h-100" alt="Logo {{ band.name }}">
                {% endif %}
                <h3 class="position-absolute">{{ band.name }}</h3>
                </a>
              </div>
            </div>
            {% else %}
            <h2 class="h1 text-center"><strong class="fw-bold">Wooops !</strong><br> It seems like this concert does not have any band</h2>
            {% endfor %}

        </div>
      </div>
    </div>

{% endblock %}