{% extends 'base.html.twig' %}

{% block title %}Sounds - Log in!{% endblock %}

{% block body %}

<div class="row w-100 py-5 mt-nav mx-auto">
    <div class="col-6 mx-auto">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.getFullName }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="form-label pt-2">Email :</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword" class="form-label pt-2">Password :</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn bg-burple mt-4 w-100" type="submit">Sign in</button>

            <small>Don't have an account ? <a href="{{ path('app_register') }}">Create one now</a></small>
        </form>
    </div>
</div>
{% endblock %}
